<uib-tabset>

    <uib-tab index="$index + 1" ng:repeat="onglet in $ctrl.onglets" active="onglet.active">
        <uib-tab-heading>{{onglet.nom}}
            <button class="btn btn-xs btn-warning"
                    style="margin: -23px -16px 0 10px; border-radius: 0 0 0 12px;"
                    ng:if="onglet.writable"
                    ng:click="$ctrl.popup_onglet( $ctrl.uid, onglet, $ctrl.callback_popup_onglet )">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </uib-tab-heading>

        <onglet uid="$ctrl.uid" onglet="onglet"></onglet>
    </uib-tab>

    <li class="uib-tab nav-item">
        <a class="nav-link" href=""
           ng:click="$ctrl.popup_onglet( $ctrl.uid, null, $ctrl.callback_popup_onglet )">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </li>
</uib-tabset>
