<uib-tabset active="0">
    <uib-tab index="$index + 1" ng:repeat="onglet in $ctrl.onglets">
        <uib-tab-heading>{{onglet.nom}} <button class="btn btn-default" ng:click="$ctrl.popup_onglet( $ctrl.uid, onglet, $ctrl.$onInit )"><span class="glyphicon glyphicon-edit"></span></button></uib-tab-heading>
        <onglet uid="$ctrl.uid" onglet="onglet"></onglet>
    </uib-tab>

    <uib-tab>
        <uib-tab-heading class="btn btn-primary" ng:click="$ctrl.popup_onglet( $ctrl.uid, null, $ctrl.$onInit )">
            <span class="glyphicon glyphicon-plus"></span>
        </uib-tab-heading>
    </uib-tab>

</uib-tabset>
