<div>
    <table>
        <thead>
            <tr>
                <th>utilisateur</th>
                <th>profil</th>
                <th>visualisation</th>
                <th>modification</th>
                <th></th>
            </tr>
        </thead>
        <tr ng:repeat="droit in $ctrl.droits">
            <td><input type="text" ng:model="droit.uid" ng:change="$ctrl.save( droit )" /></td>
            <td><input type="text" ng:model="droit.profil_id" ng:change="$ctrl.save( droit )" /></td>
            <td><input type="checkbox" ng:model="droit.read" ng:change="$ctrl.save( droit )" /></td>
            <td><input type="checkbox" ng:model="droit.write" ng:change="$ctrl.save( droit )" /></td>
            <td><button ng:click="$ctrl.delete( droit )"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
    </table>

    <button class="btn btn-default" type="button"
            ng:click="$ctrl.add({ uid: $ctrl.UID, profil_id: '', read: true, write: true, uid_eleve: $ctrl.uid, onglet_id: $ctrl.onglet.id })">
        <span class="glyphicon glyphicon-plus-sign"></span> moi-même
    </button>

    <button class="btn btn-default" type="button"
            ng:click="$ctrl.add({ uid: '', profil_id: '', read: false, write: false, uid_eleve: $ctrl.uid, onglet_id: $ctrl.onglet.id })">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
</div>
