<button class="btn btn-default" type="button" ng:click="$ctrl.popup_saisie( $ctrl.uid, $ctrl.onglet, null, $ctrl.$onInit )" ng:if="$ctrl.onglet.writable"><span class="glyphicon glyphicon-plus-sign"></span></button>
<ul>
    <li ng:repeat="saisie in $ctrl.saisies">
        <button class="btn btn-default" type="button" ng:click="$ctrl.popup_saisie( $ctrl.uid, $ctrl.onglet, saisie, $ctrl.$onInit )"><span class="glyphicon glyphicon-edit"></span></button>
        <saisie uid="$ctrl.uid" onglet="$ctrl.onglet" saisie="saisie"></saisie>
    </li>
</ul>
