<div class="col-md-12">
    <img class="col-md-4 avatar noir-moins"
         ng:src="{{$ctrl.URL_ENT + $ctrl.user.avatar}}"
         ng:if="$ctrl.showAvatar" />

    <div class="col-md-8 details">
        <div class="col-md-12">
            <span class="first-name"
                  ng:style="{'font-size': $ctrl.small ? '100%' : '150%'}"> {{$ctrl.user.prenom}}
            </span>
            <span class="last-name"
                  ng:style="{'font-size': $ctrl.small ? '100%' : '175%'}"> {{$ctrl.user.nom}}
            </span>
        </div>

        <span class="col-md-12 classe" ng:if="$ctrl.showClasse">
            {{$ctrl.user.classes[0].classe_libelle}} - {{$ctrl.user.classes[0].etablissement_nom}}
        </span>

        <span class="col-md-12 birthdate" ng:if="$ctrl.showBirthdate">
            né<span ng:if="$ctrl.user.sexe === 'F'">e</span> le {{$ctrl.user.date_naissance | date}}
        </span>
        <div class="col-md-12 email"
             ng:repeat="email in $ctrl.user.emails"
             ng:if="$ctrl.showEmails">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:{{email.adresse}}">{{email.adresse}}</a>
        </div>
        <span class="col-md-12 address"
              ng:if="$ctrl.showAddress && $ctrl.user.adresse">
            <span class="glyphicon glyphicon-home"></span>
            <span style="display: inline-table;">
                {{$ctrl.user.adresse}}
                <br>
                {{$ctrl.user.code_postal}} {{$ctrl.user.ville}}
            </span>
        </span>
        <div class="col-md-12 phone"
             ng:repeat="phone in $ctrl.user.telephones"
             ng:if="$ctrl.showPhones">
            <span class="glyphicon"
                  ng:class="{'glyphicon-phone': phone.type_telephone_id === 'MOBILE', 'glyphicon-phone-alt': phone.type_telephone_id !== 'MOBILE'}">
                {{phone.type_telephone_id}}: {{phone.numero}}
            </span>
        </div>
    </div>
</div>

<fieldset class="pull-left col-md-12 parents" ng:if="$ctrl.showConcernedPeople">
    <legend>Personnes concernées</legend>
    <uib-accordion>
        <div uib-accordion-group
             class="panel-default"
             is-open="type.is_open"
             ng:repeat="(type, peoples) in $ctrl.concerned_people">
            <uib-accordion-heading>
                <span class="glyphicon" ng:class="{'glyphicon-menu-down': type.is_open, 'glyphicon-menu-right': !type.is_open}"></span> {{type}}
            </uib-accordion-heading>
            <ul>
                <li ng:repeat="people in peoples">{{people.display}}</li>
            </ul>
        </div>
    </uib-accordion>
</fieldset>
