*.gem
*.rbc
.bundle
.config
coverage
storages
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Application specific

# YARD artifacts
.yardoc
_yardoc
doc/

# Vagrant
vagrant
.vagrant/

# Config
config/constants.rb
config/database.rb
config/options.rb
config/rights_constants.rb

public/node_modules
public/app/scripts/constants.js
