<div class="row">
	<select style="margin: 10px; width: inherit;" class="form-control col-xs-5 col-sm-5 col-md-5 col-lg-5 pull-right" data-ng-model="classe" data-ng-change="changeFilter()" data-ng-options="class as class.nom for (id, class) in classes | orderBy:'nom'">
		<option value="">Toutes mes classes</option>
	</select>

	<select style="margin: 10px; width: inherit;" class="form-control col-xs-7 col-sm-7 col-md-7 col-lg-7 pull-right" data-ng-model="etablissement" data-ng-change="changeFilter()" data-ng-options="etab as etab.nom for (id, etab) in etabs | orderBy:'nom'">
		<option value="">Tout mes établissements</option>
	</select>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2 style="text-align:center;">Nombre de carnets par classe</h2></div>
	<nvd3-multi-bar-chart
		style="margin-top: 20px;"
		class="col-xs-12 col-sm-12 col-md-7 col-lg-7"
    	data="carnetsClasse"
        id="carnetsClasseId"
        height="250"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        tooltipcontent="toolTipContentMultiFunction()"
        noData="Aucune Donnée"
        showLegend="true" >
        <svg></svg>
    </nvd3-multi-bar-chart>

    <nvd3-pie-chart
    	style="margin-top: 20px;"
    	class="col-xs-12 col-sm-12 col-md-5 col-lg-5"
    	data="carnetsClassePie"
        id="carnetsClassePieId"
        height="250"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        showLegend="true"
        tooltips="true"
        tooltipcontent="toolTipContentPieFunction()"
        noData="Aucune Donnée"
        <svg height="200"></svg>
    </nvd3-pie-chart>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2 style="text-align:center;">Nombre de messages et interlocuteurs par carnet</h2></div>
    <nvd3-scatter-chart
		class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
        data="messagesInterlocsCarnet"
        id="messagesInterlocsCarnetId"
        height="250"
    	interactive="true"
    	xPadding="10"
    	noData="Aucune Donnée"
        showLegend="true" >
    	<svg></svg>
    </nvd3-scatter-chart>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <div class="exit-carnet" style="text-align: right;">
			<div class="exit-carnet-button" ng-click="downloadStats()">
				<span title="Cliquez pour téléchager les données des statistiques">Télécharger les données</span>
			</div>
		</div>
	</div>
</div>