<!-- <div ng-app="myApp" class="app">
    <div  ng-controller="RootCtrl">
        <span ng-init= "initCurrentUser()"></span>
    </div> -->
  
    <!-- <div id="flashMessage" ng-class="flashStyle" ng-show="flashMessage">
        {{flashMessage}}
    </div> -->
    <!-- <div class="banniere" ng-controller="RootCtrl">
        <div class="img_laclasse">
           <object id="logolaclasse" type="image/svg+xml" data="img/logolaclasse.svg" class="img_laclasse"></object>
        </div>
        <div class="laclasse">
            <span class="laclasse"><strong class="laclasse">laclasse.com</strong></span>
        </div>
        <div class="suivi-title">
            <span class="suivi-title"><strong class="suivi-title">suivi des élèves</strong></span>
        </div>
        <div class="nom-util">
            <span class="profil">{{current_user.info.ENTPersonRoles.split(':')[3]}} : </span>
            <span class="nom">
                <strong class="nom">{{current_user.info.LaclassePrenom}}  {{current_user.info.LaclasseNom}} </strong>
            </span>
        </div>    
    </div> -->
<!--     <div class="row-fluid">
        <div ui-view></div>
    </div>    


</div> -->

<div data-ng-app="myApp" style="height:100%">
  <div class="row-fluid" style="height:100%">
    <div style="height:100%" ui-view=></div>
  </div>
</div>
