.btn,
fieldset.parents,
.nav-tabs,
.panel-footer,
.new-saisie { display: none; }

#main-ui-view .aside, .aside-student,
#main-ui-view .student,
.saisie-display .ta-bind, .saisie-display p,
saisie { width: 100%;
         height: auto; }

li.active { display: block; }
