<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 damier {{classe_carnets.classe.couleur}}">
                <span class="classe-name">{{classe_carnets.classe.name}}</span>
                <span class="college-name">{{classe_carnets.classe.college}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 damier {{carnet.couleur}}"
             ng:class="{'hide-damier': carnet.firstName == ''}"
             ng:repeat="carnet in classe_carnets.carnets">
            <img no-image
                 class="avatar" ng:class="{'cursor': carnet.firstName != ''}"
                 ng:src="{{carnet.avatar}}"
                 ng:hide="carnet.avatar==''"
                 ng:click="open(carnet)"/>
            <span class="carnet-last-name">{{carnet.lastName}}</span>
            <span class="carnet-first-name">{{carnet.firstName}}</span>
            <span class="carnet-classe">{{carnet.classe}}</span>
        </div>
</div>
