<div class="col-md-4 blanc aside">
    <label for="search"> Filtrage des élèves affichés : </label>
    <input  class="form-control input-sm"
            type="text" name="search" ng:model="search" />

    <label ng:if="eleves_contributed.length > 0"> Carnet<span ng:if="eleves_contributed.length > 1">s</span> <span ng:if="eleves_contributed.length > 1">auxquels</span><span ng:if="eleves_contributed.length < 2">auquel</span> vous avez contribué : </label>
    <ul>
        <li ng:repeat="eleve in eleves_contributed"><a ui:sref="carnet({uid: eleve.id_ent})">{{eleve.prenom}} {{eleve.nom}}</a></li>
    </ul>
</div>

<div class="col-md-8 damier">
    <ul>
        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 petite case vert-moins"
            style="background-repeat: no-repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position-x: center; background-position-y: center; background-size: 100% auto;"
            ng:style="{'background-image': 'url( {{eleve.avatar}} )' }"
            ng:repeat="eleve in eleves | filter:search">
            <a ui:sref="carnet({uid: eleve.id_ent})">
                <h4>{{eleve.prenom}}</h4>
                <h3>{{eleve.nom}}</h3>
            </a>
        </li>
    </ul>
</div>
