<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row explicatif explicatif-title">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span>Qu'est ce que le suivi ?</span>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 explicatif explicatif-content" style="margin-top:1.5em">
				<span>Petit texte explicatif et avertissement concernant le contenu des publications sur les données personnelles.</span>		
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 explicatif explicatif-content">
				<span>Qui peut créer un suivi</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row recherche">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span>Rechercher un élève :</span>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<form ng-submit="search(nameElv)">
					<input class="form-control input-sm" type="text" placeholder="entrer un nom" ng-model="nameElv">					
				</form>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 toolbar-suivi toolbar-suivi-search" ng-click="search(nameElv)" title="Recherche un élève dans mes classes">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 toolbar-suivi toolbar-suivi-del" ng-click="delSearch()" title="Efface la recherche et revient sur la liste de mes {{accueil}}">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-erreur"  ng-bind="erreur" ng-show="erreur != ''" ng-hide="nameElv.length > 2">
			</div>
		</div>
		<div class="exit-carnet" style="text-align: left">
			<div class="exit-carnet-button" ng-click="return()">
				<span title="Permet de revenir à la liste de mes {{accueil}}">Revenir sur mes {{accueil}}</span>
			</div>
		</div>
	</div>

</div>
