*.gem
*.rbc
.bundle
.config
.ruby-version
coverage
storages
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bak
.project
nohup.out

# Application specific
config/thin.yml
config/options.rb
config/database.rb
config/constants.rb
config/rights_constants.rb
public/node_modules

# Mac
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/

# Vagrant
vagrant
.vagrant/

# NetBeans
nbproject/
