
.classe-name, .college-name {
	color: #fff;
	position: absolute;
   	width: 100%;
    text-align: center;
}

.college-name{
	top:7em;
	left: 0;
	font-size:1.2em;
	font-weight: bold;
	text-transform: capitalize;
}

.classe-name{
	top: 0.5em;
	left: 0;
	font-size:25px;
	padding: 5px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.classe-name{
		font-size:4em;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	.classe-name{
		font-size:4em;
	}
}
