.tab-editable{
	border: none;
	padding: 10px 15px;
}

.nav-tabs{
	box-shadow: 0px 15px 20px -10px #8E8E8E;
	padding: 0 20px;
	margin-top: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	box-shadow: 0px 10px 40px 10px white;
}

.form-control{
	border-radius: 0;
	border-color: #8E8E8E;
}

.docs-form{
	border-left: 1px solid #8E8E8E;
	border-right: 1px solid #8E8E8E;
	background-color: #ccc;
	text-align: right;
	padding: 10px;
}

.doc-form{
	margin: 10px 5px;
	display: inline;
}

.doc-form i{
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	cursor: pointer;
}

.ta-scroll-window > .ta-bind{
	min-height: 100px;
}

.ta-scroll-window.form-control {
	min-height: 100px;
	max-height: 210px;
}

.tab-content{
	height: 93%;
	overflow: auto;
	/*box-shadow: inset 0px -15px 20px -10px #8E8E8E;*/
}

.ta-root.focussed .ta-scroll-window.form-control {
	border-color: #8E8E8E;
	box-shadow: none;
	outline: none;
	min-height: 100px; 
}

.laclasse-toolbar-text-angular{
	display: table;
	width: 100%;
	background-color: #ccc; 
	border: 1px solid #8E8E8E;
	vertical-align: middle;
	padding: 5px;
}

.text-angular-content{
}

.laclasse-toolbar-text-angular .toolbar{
	display: table-cell;
}
.publier{
	vertical-align: middle;
	width: 10%;
	padding: 2px;
	background-color: #fff;
	color: #505050;
	display: table-cell;
	border: 1px solid #8E8E8E;
}

.publier:hover{
	cursor: pointer;
}

.publier i{
	display: inline-block;
	margin-right: 5px;
}

.publier span{
	margin-right: 5px;
}

.toolbar-suivi-add{
	background-position: 0 -32px;
	vertical-align: middle;
	margin-top: 0;
}

.toolbar-suivi-del-carnet{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	cursor: pointer;
}

.entree{
	margin: 20px;
	height: 100px;
	max-height: 100px;
	display: table;
}

.entree .avatar{
	display: table-cell;
	width: 15%;
	position: relative;	
}

.entree .avatar img{
	vertical-align: bottom;
}

.entree .message{
	display: table-cell;
	width: 85%;
	padding-left: 5px;
	vertical-align: top;
}

.message-info{
	border-spacing: 5px;
	border-collapse: separate;
	width: 100%;
	display: table;
	border-bottom: 2px solid white;
}

.toolbar-suivi-corbeille{
	background-position: 0 0px;
	margin-top: 0;
}

.toolbar-suivi-edit{
	background-position: 0 -96px;
	margin-top: 0;
}

.message-text{
	min-height: 90px;
	/*max-height: 90px;
	overflow: auto;*/
	padding: 5px;
}

.message-corbeille, .message-edit{
	border: 1px solid #8E8E8E;
	background-color:#fff;
	padding:3px;
	width: 25px;
	cursor: pointer;
	display: table-cell;
}

.message-info-profil{
	vertical-align: bottom;
	display: table-cell;
	font-weight: bold;
	font-size: 13px;
}

.message-info-date{
	vertical-align: top;
	display: table-cell;
	padding-right: 20px;
	text-align: right;
	font-size: 13px;
}

.modal-header{
	font-weight: bold;
}

.modal-body{
}

.but-violet{
	background-color: rgba(156, 117, 171, 0.5);
}
.but-jaune{
	background-color: rgba(232, 194, 84, 0.5);
}

.dropdown-menu {
	padding: 3px;
}


.treecontrol-container {
    max-height: 10em;
    overflow: auto;
    background-color: #fff;
    float: left;
	width: 100%;
}

.attached-document {
	float: left;
	border: 1px solid #aaa;
	background-color: #999;
	margin: 3px;
	padding: 5px;
}

.attached-document a {
	color: #fff;
}

/* directive cartable */
.cartable { padding-left: 0; }
.cartable .cartable li { padding-left: 1.5em; }
.cartable .glyphicon-folder-close { cursor: pointer; }
.cartable .disabled { color: #aaa; }
.cartable .disabled button.from-docs { display: none; }
.cartable button.from-ct { display: none; }
.cartable .disabled button.from-ct { display: inline; }
