.btn,
.panel { border-radius: 0; }

.btn { white-space: normal; }

#main-ui-view { position: absolute;
                height: 100%;
                width: 100%; }

#main-ui-view .aside,
#main-ui-view .damier,
#main-ui-view .carnet { height: 100%;
                        overflow: auto; }

#main-ui-view .aside { padding: 20px; }

#main-ui-view .damier { padding: 0; }

#main-ui-view .aside .go-back { color: #eee;
                                text-decoration: none;
                                margin-bottom: 8px; }

#main-ui-view .aside .user-details.eleve .avatar { background-color: #333;
                                                   margin-bottom: 20px;
                                                   padding: 0;
                                                   max-height: 175px;
                                                   max-width: 175px; }
#main-ui-view .aside .user-details.eleve .details { min-height: 175px;
                                                    margin-bottom: 20px; }
#main-ui-view .aside .user-details.eleve .informations { padding: 0; }

.avatar-container { text-align: center; }

.trombinoscope .eleve { position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: table-cell; }
.trombinoscope .eleve .regroupement { position: absolute;
                                      top: 0;
                                      right: 0;
                                      background-color: rgba(0, 0, 0, 0.33);
                                      color: #fff;
                                      padding: 5px;
                                      margin: 0; }
.trombinoscope .eleve .full-name { position: absolute;
                                   bottom: 0;
                                   width: 100%;
                                   height: 50%;
                                   padding: 5px;
                                   color: #fff;
                                   background: rgba(0, 0, 0, 0.25); }
.trombinoscope .contributed .eleve .full-name { color: #ee0; }
.trombinoscope .eleve .full-name .first-name,
.trombinoscope .eleve .full-name .last-name { font-weight: bold; }

.carnet { padding: 0; }
.carnet .nav-tabs { box-shadow: 0 0 3px #999; }

.carnet .nav-tabs > li > a { border-color: #ddd;
                             border-radius: 0; }

.carnet .nav-tabs > li > a.add-onglet,
.carnet .nav-tabs > li > a.add-onglet:focus { color: #fff;
                                              background-color: #1aa1cc;
                                              border-color: #66f; }


.carnet .nav-tabs > li > a.add-onglet:hover { background-color: #0990bb; }

.carnet .nav-tabs > li.active > a,
.carnet .nav-tabs > li.active > a:focus,
.carnet .nav-tabs > li.active > a:hover { background-color: #e1e1e1; }

.carnet .tab-content { padding: 15px; }

.saisie-display .panel-footer { padding: 0; }

/* textAngular */
.ta-root { padding: 0; }

.ta-toolbar { background-color: #eee; }
.ta-toolbar button.btn { padding: 6px 7px; }

.ta-scroll-window { min-height: 150px;
                    max-height: 300px;
                    overflow: auto; }
.ta-scroll-window .ta-bind { height: 100%; }

.ta-text td { border: 1px solid #16161d; }
