<div class="row carnet-eleve-contener">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
		<div class="row " style="display: table-row">
			<div class="col-xs-1 col-sm-1 col-md-5 col-lg-5 avatar-carnet">
				<div class="rouge">
					<img src="{{user.avatar}}" alt="">					
				</div>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-7 col-lg-7 eleve-info">
				<div class="eleve-info-firstname">
					<span >{{user.prenom}}</span>					
				</div>
				<div class="eleve-info-lastname">
					<span >{{user.nom}}</span>
				</div>
				<div>
					<span>{{user.classe.libelle}} - {{user.classe.nom_etablissement}}</span>
				</div>
				<div>
					<span>{{user.sexe == "F" ? "née le " : "né le "}}{{user.date_naissance|date:'dd/MM/yyyy'}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 infos-detaillees">
		<accordion close-others="true">
			<accordion-group is-open="familleOpen">
				<accordion-heading>
					<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': familleOpen, 'toolbar-suivi-arrow-right': !familleOpen}"></i>
					Contacts Famille
				</accordion-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">					
						<div class="carnet-checkbox">
							<input type="checkbox" value="1" id="familleCheckbox0" ng-model="user.done" ng-disabled="user.email=='Non renseigné'"/>
			  				<label for="familleCheckbox0"></label>					
						</div>
						<div class="prefix-infos">
							adresse email de l'élève:
						</div>
						<div class="infos-famille">
							{{user.email}}
						</div>
					</div>					
				</div>
				<div class="row" style="margin-top:15px" ng-repeat="parent in parents">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="carnet-checkbox">
							<input type="checkbox" value="1" id="{{'familleCheckbox'+$index+1}}" ng-model="parent.done" ng-disabled="parent.email=='Non renseigné'"/>
			  				<label for="{{'familleCheckbox'+$index+1}}"></label>					
						</div>
						<div class="prefix-infos">
							parent {{$index + 1}} :
						</div>
						<div class="infos-famille">
							{{parent.fullname}}
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="prefix-infos">
							adresse du domicile :
						</div>
						<div class="infos-famille">
							{{parent.adresse | lowercase}}
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="prefix-infos">
							ville du domicile :
						</div>
						<div class="infos-famille">
							{{parent.ville | lowercase}}
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="prefix-infos">
							téléphone : 
						</div>
						<div class="infos-famille">
							 {{parent.telephones.tel_dom}}
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="prefix-infos">
							téléphone portable : 
						</div>
						<div class="infos-famille">
							 {{parent.telephones.tel_port}}
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="prefix-infos">
							adresse email :
						</div>
						<div class="infos-famille">
							 {{parent.email}}
						</div>
					</div>
				</div>

				<div class="row" style="margin-top:15px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="infos-famille" style="text-decoration: underline; cursor: pointer" ng-show="oneNeedsMet(user.parents)||user.done" ng-click="sendMail(parents.concat([user]))">
							envoyer un message aux personnes cochées
						</div>
					</div>
				</div>

			</accordion-group>

			<accordion-group is-open="collegeOpen">
				<accordion-heading>
					<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': collegeOpen, 'toolbar-suivi-arrow-right': !collegeOpen}"></i>
					Contacts Collège
				</accordion-heading>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">					
						<div class="carnet-checkbox">
							<input type="checkbox" value="1" id="collegeCheckbox0"  ng-checked="allNeedsMet()" ng-click="allNeedsClicked()"/>
			  				<label for="collegeCheckbox0"></label>					
						</div>
						<div class="prefix-infos">
							tout cocher / décocher
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="contact in contactCollege">					
						<div class="carnet-checkbox">
							<input type="checkbox" value="false" id="{{'collegeCheckbox'+$index+1}}" ng-model="contact.done"/>
			  				<label for="{{'collegeCheckbox'+$index+1}}"></label>					
						</div>
						<div class="prefix-infos">
							{{contact.matiere}} :
						</div>
						<div class="infos-famille">
							{{contact.fullname}}
						</div>
					</div>			
				</div>

				<div class="row" style="margin-top:15px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="infos-famille" style="text-decoration: underline; cursor: pointer" ng-show="oneNeedsMet(contactCollege)" ng-click="sendMail(contactCollege)">
							envoyer un message aux personnes cochées
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>
		<div class="end-border"></div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="show">
		<div class="button-right" ng-click="rights()">
			<div class="toolbar-suivi toolbar-suivi-carnet toolbar-suivi-right"></div>
		</div>
		<div class="div-right" ng-click="rights()">
			<span>Gérer les droits</span>			
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="button-right" ng-click="pdf()">
			<div class="toolbar-suivi toolbar-suivi-carnet toolbar-suivi-download"></div>
		</div>
		<div class="div-right" ng-click="open()">
			<span>Télécharger le suivi en pdf</span>			
		</div>
	</div>

	<div class="exit-carnet">
		<div class="exit-carnet-button" ng-click="return()">
			<span>quitter le carnet de suivi</span>
		</div>
	</div>

	<script type="text/ng-template" id="myModalPdfContent.html">
		<div class="modal-header">
	            <h3 class="modal-title">Génération du pdf du suivi</h3>
	        </div>
	        <div class="modal-body">
	        	<h4> Choisissez les onglets que vous souhaitez générer </h4>
	            <div class="exit-carnet">
	            	<button type="button" class="exit-carnet-button-pdf" ng-class="{active: allChecked()}" ng-click="checkAllOrNot()" btn-checkbox >
				        tout sélectionner/désélectionner
				    </button>
	            	<button type="button" ng-repeat="tab in tabs" class="exit-carnet-button-pdf" ng-model="tab.check" btn-checkbox >
				        {{tab.nom}}
				    </button>
	            </div>
	        </div>
	        <div class="modal-footer">
		        <div>
					<div popover="Il faut au moins un onglet selectionné pour générer un pdf" popover-placement="bottom" popover-trigger="click" class="exit-carnet-button" ng-click="ok()">
						<span>Générer le pdf</span>
					</div>
					<div class="exit-carnet-button" ng-click="cancel()">
						<span>Annuler</span>
					</div>			
				</div>
	        </div>
	    </div>
	</script>

	<script type="text/ng-template" id="myModalMailContent.html">
		<div class="modal-header">
	            <h3 class="modal-title">Envoyer un email</h3>
	        </div>
	        <div class="modal-body row">
	        	<form name="myForm">
		        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		        		<label>Cet email sera envoyé sur l'adresse email "laclasse.com" de chaque destinataire</label>
		        		<input class="form-control" style="border:none" type="text" placeholder="{{mail.destinataires.concatener}}" readonly>
		        	</div>
		        	<div style="margin-top: 10px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">		     
		        		<input class="form-control" style="border:none" name="objet" type="text" placeholder="Objet" ng-model="mail.objet">
		        	</div>
		        	<div style="margin-top: 10px;" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			        		<span ng-click="openUpload()" class="glyphicon glyphicon-paperclip" style="cursor: pointer"></span>
			        		<span tooltip-placement='bottom' tooltip-popup-delay='700' tooltip="{{joindreFile.normal}}">{{joindreFile.court}}</span>
			        		<input type="file" id="inputFile" ng-file-select="onFileSelect($files)" ng-hide="true">	        		
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		        		<textarea class="form-control" name="message" style="border:none" placeholder="Rédigez votre message ici" ng-model="mail.message" rows="7"></textarea>
		        	</div>
		        </form>
	        </div>
	        <div class="modal-footer">
		        <div>
					<div popover="Les champs Objet et Message doivent être rensignés !" popover-placement="bottom" popover-trigger="click" class="exit-carnet-button" ng-click="ok()">
						<span>Envoyer</span>
					</div>
					<div class="exit-carnet-button" ng-click="cancel()">
						<span>Annuler</span>
					</div>			
				</div>
	        </div>
	    </div>
	</script>

	<script type="text/ng-template" id="myModalMailEchecContent.html">
        <div class="modal-header">
            <h3 class="modal-title bg-danger">Résultat de l'envoi</h3>
        </div>
        <div class="modal-body">
            <h4 ng-hide="resultats.success.length == 0"> Envois réussis :</h4>
            <hr ng-hide="resultats.success.length == 0"></hr>
            <div>
				<h5 class="text-success" ng-repeat="success in resultats.success">{{success.name}} : {{success.message}}</h5>
            </div>
            <br>
            <h4 ng-hide="resultats.echoue.length == 0"> Envois échoués :</h4>
            <hr ng-hide="resultats.echoue.length == 0"></hr>
            <div>
				<h5 class="text-danger" ng-repeat="echoue in resultats.echoue">{{echoue.name}} : {{echoue.message}}</h5>
            </div>
        </div>
        <div class="modal-footer">
            <div class="exit-carnet-button" ng-click="ok()">
				<span>Ok</span>
			</div>
        </div>
    </script>
</div>