<div class="row" style="height:100%">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:100%; padding:0">
			<ul ui-sortable="sortableOptions" class="nav nav-tabs " ng-model="tabs">
	      <li  ng-repeat="tab in tabs" ng-class="{active: tab.active}">
	        <a ng-click="activeTab(tab)" ng-dblclick="tab.editable=true" ng-show="!tab.editable">{{tab.nom}} <i ng-click="open(tab, '', 'tab')" class="toolbar-suivi toolbar-suivi-del toolbar-suivi-del-carnet"></i> </a>
	        
	        <input type="text" class="tab-editable" ng-show="tab.editable" ng-model="tab.nom" ng-blur="changeNameTab(tab)" autofocus>	   	      	
	      </li>
	      <li ng-class="{active: false}">
	        <a ng-click="addTab()"><strong>+</strong></a>
	      </li>
	    </ul>
    <div class="tab-content">
    	<div ng-show="tab.active"ng-repeat="tab in tabs">
	  		<div style="margin:20px">
			    <div text-angular ta-target-toolbars="{{tab.id}}" ng-model="tab.htmlcontent" class="text-angular-content" placeholder="publier un nouveau message dans le suivi de {{nameUser}}"></div>
			    <div class="laclasse-toolbar-text-angular">
						<div text-angular-toolbar class="toolbar" name="{{tab.id}}" ta-toolbar="[['h1','h6'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['insertLink'], ['upload']]"></div>
						<div class="publier" ng-click="addEntree(tab)" ><i class="toolbar-suivi toolbar-suivi-add"></i><span>PUBLIER</span></div>
			    </div>
	  		</div>
	  		<div class="exit-carnet-button but-violet"  style="margin:0px 20px" ng-click="predicate = 'date'; reverse=!reverse">
	  			<span style="margin-right:10px" tooltip-popup-delay='1000' tooltip-placement="right" tooltip="Triez les messages par ordre antéchronologique/chronologique" >Trier par date</span><span style="margin-bottom:3px" class="glyphicon glyphicon-th-list"></span><span class="glyphicon" ng-class="{'glyphicon-arrow-down' : !reverse, 'glyphicon-arrow-up' : reverse}" style="margin-bottom:4px"></span>
	  		</div>
    		<div class="entree" ng-repeat="entree in tab.entrees | orderBy:predicate:reverse">
					<div class="avatar">
						<img no-image ng-src="{{entree.owner.avatar}}" style="width: 100%;background-color: {{entree.owner.avatar_color}}">					
					</div>
					<div class="message" style="background-color: {{entree.owner.back_color}}" >
						<div class="message-info">
							<div class="message-info-profil">
								<span style="vertica" ><strong>{{entree.owner.infos}}</strong></span> 								
							</div>
							<div class="message-info-date">
								<span>{{entree.date|date:'EEEE d MMMM yyyy - H:mm'}}</span>								
							</div>
							<div class="message-edit"><i ng-click="editEntree(tab, entree)" class="toolbar-suivi toolbar-suivi-edit"></i></div> 
							<div class="message-corbeille"><i ng-click="open(tab, entree, 'entree')" class="toolbar-suivi toolbar-suivi-corbeille"></i></div>
						</div>
						<div ta-bind ng-model="entree.contenu" class="message-text"></div>
					</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
	            <h3 class="modal-title">Confirmation de suppression</h3>
	        </div>
	        <div class="modal-body">
	            <span>êtes vous sûr de vouloir supprimer ?</span>
	        </div>
	        <div class="modal-footer">
		        <div>
					<div class="exit-carnet-button" ng-click="ok()">
						<span>Oui</span>
					</div>
					<div class="exit-carnet-button" ng-click="cancel()">
						<span>Non</span>
					</div>			
				</div>
	        </div>
	    </div>
	</script>
</div>