<div class="row rights-carnet" style="height:100%">
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<h4 class="title-rights" style="margin-bottom:20px">Adresse URL publique du carnet</h4>
	</div>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="margin: 40px 0 20px 0; overflow: hidden">
		<div ng-if="publique==null" class="exit-carnet-button" ng-click="open()">
			<span>Générer l'URL</span>
		</div>
		<strong><span ng-if="publique"> {{publique}}</span></strong>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin: 40px 0 20px 0">
		<div ng-if="publique" class="exit-carnet-button" clip-copy="publique">
			<span>Copier l'URL</span>
		</div>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-10 col-lg-2 col-lg-offset-10">
		<div ng-if="publique" class="exit-carnet-button" ng-click="deleteUrl()">
			<span>Supprimer l'URL</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
		<h4 class="title-rights">Gérer les droits du carnet de suivi</h4>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="overflow:auto" >
		<div class="table-responsive">
			<table>
				<tr class="en-tete">
					<td colspan="2" style="cursor:pointer" ng-click="predicate = 'full_name'; reverse=!reverse">Prénom Nom</td>
					<td style="cursor:pointer" ng-click="predicate = 'profil';reverse=!reverse">Profil</td >
					<td class="td-img"><i class="toolbar-suivi toolbar-suivi-read"></i></td>
					<td class="td-img"><i class="toolbar-suivi toolbar-suivi-write"></i></td>
					<td class="td-img">Admin</td >
				</tr>
				<tbody ng-repeat="right in rights">
					<tr class="categorie" style="background-color:{{right.background}}; color: {{right.text}}">
						<td colspan="6">{{right.type}}</td>
					</tr>
					<tr ng-repeat="user in right.users | orderBy:predicate:reverse">
						<td class="td-img"><i class="toolbar-suivi toolbar-suivi-del-user" ng-click="delUser(user)"></i></td><td><span style="text-transform: capitalize">{{user.full_name}}</span></td>
						<td><span>{{user.profil}}</span></td>
						<td><input type="checkbox" ng-checked="user.r || user.w" ng-model="user.r" ng-change="update(user)"ng-disabled="user.profil == 'admin'"></td>
						<td><input type="checkbox" ng-checked="user.w" ng-model="user.w" ng-change="update(user)" ng-disabled="user.profil == 'admin'"></td>
						<td style="text-align: center"><input type="checkbox" ng-checked="user.admin" ng-model="user.admin" ng-disabled="user.profil == 'admin' || user.profil == 'élève' || user.profil == 'parent'" ng-change="update(user)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
		<div class="row rights-search-users">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
				<span>Ajouter une personne au carnet:</span>
				<input class="form-control input-sm" type="text" placeholder="entrer un nom" ng-model="search.full_name">
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 accordion-rights">
				<accordion close-others="true">
					<accordion-group is-open="list.open" ng-repeat="list in listUsersTypes">
						<accordion-heading>
							<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': list.open, 'toolbar-suivi-arrow-right': !list.open}"></i>
							{{list.type}}
						</accordion-heading>
						<div class="add-user" ng-repeat="user in list.users | filter:search | orderBy:'fullname':false"><i class="toolbar-suivi toolbar-suivi-add-user" ng-click="addUser(list.type, user)"></i><span style="text-transform: capitalize">{{user.full_name}}</span></div>
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="button-rights">
			<div class="exit-carnet-button" ng-click="cancel()">
				<span>annuler</span>
			</div>
			<div class="exit-carnet-button" ng-click="save()">
				<span>enregistrer les modifications</span>
			</div>			
		</div>
	</div>

	<script type="text/ng-template" id="myModalUrlContent.html">
		<div class="modal-header">
	            <h3 class="modal-title">Génération de l'URL publique du suivi</h3>
	        </div>
	        <div class="modal-body">
	        	<h4> Choisissez les onglets que vous souhaitez rendre publique </h4>
	            <div class="exit-carnet">
	            	<button type="button" class="exit-carnet-button-pdf" ng-class="{active: allChecked()}" ng-click="checkAllOrNot()" btn-checkbox >
				        tout sélectionner/désélectionner
				    </button>
	            	<button type="button" ng-repeat="tab in tabs" class="exit-carnet-button-pdf" ng-model="tab.check" btn-checkbox >
				        {{tab.nom}}
				    </button>
	            </div>
	        </div>
	        <div class="modal-footer">
		        <div>
					<div popover="Il faut au moins un onglet selectionné pour générer un pdf" popover-placement="bottom" popover-trigger="click" class="exit-carnet-button" ng-click="ok()">
						<span>Générer l'URL</span>
					</div>
					<div class="exit-carnet-button" ng-click="cancel()">
						<span>Annuler</span>
					</div>			
				</div>
	        </div>
	    </div>
	</script>
</div>