# CAS Configuration.
module CAS
  OPTIONS =
  { :host => 'www.dev.laclasse.com',
    :ssl => true,
    :port => 443,
    :disable_ssl_verification => true,
    :login_url => '/sso-mysql/login',
    :service_validate_url => '/sso-mysql/serviceValidate',
    :logout_url => '/sso-mysql/logout'
}
  URL = "https://www.dev.laclasse.com/sso-mysql"
end
