# coding: utf-8
#
# Configuration de la base de données de Backend

DB = Sequel.mysql2( 'suivi',
                    host: '127.0.0.1',
                    user: 'root',
                    password: '',
                    charset: 'utf8')

Sequel.extension(:migration)

Sequel::Model.plugin :json_serializer

# Uncomment this if you want to log all DB queries
# DB.loggers << Logger.new($stdout)
