# coding: utf-8
#
# Configuration de la base de données de Backend

DB_CONFIG = { host: '127.0.0.1',
              user: 'travis',
              password: '',
              name: 'suivi',
              charset: 'utf8' }.freeze

DB = Sequel.mysql2( DB_CONFIG[:name],
                    DB_CONFIG )

Sequel.extension(:migration)

Sequel::Model.plugin :json_serializer

# Uncomment this if you want to log all DB queries
# DB.loggers << Logger.new($stdout)
