# -*- encoding: utf-8 -*-

# development ou production
ENV[ 'RACK_ENV' ] = 'development'.freeze

SSL = true

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '/suivi'.freeze

# Version de l'application
APP_VERSION = `git describe --tags`.chomp

# Langage par défaut de l'application
LANG = 'fr'.freeze

# Url de l'ENT
URL_ENT = 'http://localhost/annuaire'.freeze

CACHE_BUSTER = Time.now.to_i.to_s

ANNUAIRE = { url: 'http://localhost/annuaire/api',
             api_key: 'Ed0c27VjZc5PQMs079eLQ+aId3/xSlWWILLLP4LYTf0=',
             app_id: 'SUIVIELV' }.freeze
