COEFF = {
  "user" => "5",
  "TECH" => "4",
  "ADM_ETB" => "3",
  "DIR_ETB" => "2",
  "AVS_ETB" => "1",
  "CPE_ETB" => "1",
  "PROF_ETB" => "1",
  "PAR_ETB" => "0",
  "ELV_ETB" => "0",
  "" => "-1"
}

ROLES = {
  :super_admin => "TECH",
  :admin => "ADM_ETB",
  :principal => "DIR_ETB",
  :assistante_vie_scolaire => "AVS_ETB",
  :cpe => "CPE_ETB",
  :prof => "PROF_ETB",
  :parents => "PAR_ETB",
  :eleve => "ELV_ETB",
  :default => ""
}