<div class="row carnet-eleve-contener">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
		<div class="row " style="display: table-row">
			<div class="col-xs-1 col-sm-1 col-md-5 col-lg-5 avatar-carnet">
				<div class="rouge">
					<img no-image src="{{user.avatar}}" alt="">					
				</div>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-7 col-lg-7 eleve-info">
				<div class="eleve-info-firstname">
					<span >{{user.prenom}}</span>					
				</div>
				<div class="eleve-info-lastname">
					<span >{{user.nom}}</span>
				</div>
				<div>
					<span>{{user.classe.libelle}} - {{user.classe.nom_etablissement}}</span>
				</div>
				<div>
					<span>{{user.sexe == "F" ? "née le " : "né le "}}{{user.date_naissance|date:'dd/MM/yyyy'}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 infos-detaillees">
		<accordion close-others="true">
			<accordion-group is-open="familleOpen">
				<accordion-heading>
					<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': familleOpen, 'toolbar-suivi-arrow-right': !familleOpen}"></i>
					Contacts Famille
				</accordion-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="table">
							<tr>
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="1" id="familleCheckbox0" ng-model="user.done" ng-disabled="user.email=='Non renseigné'"/>
						  				<label for="familleCheckbox0"></label>					
									</div>
								</td>
								<td>																
									<div class="prefix-infos">
										adresse email de l'élève:
									</div>								
								</td>
								<td>
									<div class="infos-famille" ng-style="{'text-transform: lowercase;': parent.email!='Non renseigné'}">
										{{user.email}}
									</div>								
								</td>
							</tr>
						</table>
						<table class="table" ng-repeat="parent in parents">
							<tr>
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="1" id="{{'familleCheckbox'+$index+1}}" ng-model="parent.done" ng-disabled="parent.email=='Non renseigné'"/>
						  				<label for="{{'familleCheckbox'+$index+1}}"></label>					
									</div>
								</td>
								<td>									
									<div class="prefix-infos">
										parent {{$index + 1}} :
									</div>
								</td>
								<td>
									<div class="infos-famille">
										{{parent.fullname}}
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="prefix-infos">
										adresse du domicile :
									</div>
								</td>
								<td>
									<div class="infos-famille">
										{{parent.adresse | lowercase}}
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="prefix-infos">
										ville du domicile :
									</div>	
								</td>
								<td>
									<div class="infos-famille">
										{{parent.ville | lowercase}}
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="prefix-infos">
										téléphone : 
									</div>
								</td>
								<td>
									<div class="infos-famille">
										 {{parent.telephones.tel_dom}}
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="prefix-infos">
										téléphone portable : 
									</div>
								</td>
								<td>
									<div class="infos-famille">
										 {{parent.telephones.tel_port}}
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="prefix-infos">
										adresse email :
									</div>
								</td>
								<td>
									<div class="infos-famille" ng-style="{'text-transform: lowercase;': parent.email!='Non renseigné'}">
										 {{parent.email}}
									</div>
								</td>
							</tr>
						</table>										
					</div>					
				</div>

				<div class="row" style="margin-top:15px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="infos-famille" style="text-decoration: underline; cursor: pointer" ng-show="oneNeedsMet(user.parents)||user.done" ng-click="sendMail(parents.concat([user]))" title="Cliquez pour envoyer un message aux personnes dont la case est cochée">
							envoyer un message aux personnes cochées
						</div>
					</div>
				</div>

			</accordion-group>

			<accordion-group is-open="collegeEleveOpen">
				<accordion-heading>
					<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': collegeEleveOpen, 'toolbar-suivi-arrow-right': !collegeEleveOpen}"></i>
					{{contactCollegeTitle}}
				</accordion-heading>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="table" >
							<tr>
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="1" id="collegeEleveCheckbox0"  ng-checked="allNeedsMet('eleve')" ng-click="allNeedsClicked('eleve')"/>
						  				<label for="collegeEleveCheckbox0"></label>					
									</div>
								</td>
								<td>
									<div class="prefix-infos">
										tout cocher / décocher
									</div>
								</td>
								<td></td>
							</tr>
							<tr ng-repeat="contact in contactCollege">
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="false" id="{{'collegeEleveCheckbox'+$index+1}}" ng-model="contact.done"/>
						  				<label for="{{'collegeEleveCheckbox'+$index+1}}"></label>					
									</div>
								</td>
								<td>
									<div class="prefix-infos">
										{{contact.matiere}} :
									</div>
								</td>
								<td>
									<div class="infos-famille">
										{{contact.fullname}}
									</div>
								</td>
							</tr>
						</table>								
					</div>				
				</div>

				<div class="row" style="margin-top:15px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="infos-famille" style="text-decoration: underline; cursor: pointer" ng-show="oneNeedsMet(contactCollege)" ng-click="sendMail(contactCollege)" title="Cliquez pour envoyer un message aux personnes dont la case est cochée">
							envoyer un message aux personnes cochées
						</div>
					</div>
				</div>
			</accordion-group>

			<accordion-group is-open="collegeEvignalOpen" ng-hide="disableCollegeEvignal">
				<accordion-heading>
					<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': collegeEvignalOpen, 'toolbar-suivi-arrow-right': !collegeEvignalOpen}"></i>
					Contacts Collège Elie Vignal
				</accordion-heading>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="table" >
							<tr>
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="1" id="collegeEvignalCheckbox0"  ng-checked="allNeedsMet('evignal')" ng-click="allNeedsClicked('evignal')"/>
						  				<label for="collegeEvignalCheckbox0"></label>					
									</div>
								</td>
								<td>
									<div class="prefix-infos">
										tout cocher / décocher
									</div>
								</td>
								<td></td>
							</tr>
							<tr ng-repeat="contact in contactEvignal">
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="false" id="{{'collegeEvignalCheckbox'+$index+1}}" ng-model="contact.done"/>
						  				<label for="{{'collegeEvignalCheckbox'+$index+1}}"></label>					
									</div>
								</td>
								<td>
									<div class="prefix-infos">
										{{contact.matiere}} :
									</div>
								</td>
								<td>
									<div class="infos-famille">
										{{contact.fullname}}
									</div>
								</td>
							</tr>
						</table>						
					</div>		
				</div>
				<div class="row" style="margin-top:15px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="infos-famille" style="text-decoration: underline; cursor: pointer" ng-show="oneNeedsMet(contactEvignal)" ng-click="sendMail(contactEvignal)" title="Cliquez pour envoyer un message aux personnes dont la case est cochée">
							envoyer un message aux personnes cochées
						</div>
					</div>
				</div>
			</accordion-group>

			<accordion-group is-open="hopitalOpen">
				<accordion-heading>
					<i class="toolbar-suivi toolbar-suivi-carnet" ng-class="{'toolbar-suivi-arrow-down': hopitalOpen, 'toolbar-suivi-arrow-right': !hopitalOpen}"></i>
					Contacts Hôpital
				</accordion-heading>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="table" >
							<tr>
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="1" id="hopitalCheckbox0"  ng-checked="allNeedsMet('hopital')" ng-click="allNeedsClicked('hopital')"/>
						  				<label for="hopitalCheckbox0"></label>					
									</div>
								</td>
								<td>
									<div class="prefix-infos">
										tout cocher / décocher
									</div>
								</td>
								<td></td>
							</tr>
							<tr ng-repeat="contact in contactHopital">
								<td>
									<div class="carnet-checkbox">
										<input type="checkbox" value="false" id="{{'hopitalCheckbox'+$index+1}}" ng-model="contact.done"/>
						  				<label for="{{'hopitalCheckbox'+$index+1}}"></label>					
									</div>
								</td>
								<td>
									<div class="prefix-infos">
										{{contact.matiere}} :
									</div>
								</td>
								<td>
									<div class="infos-famille">
										{{contact.fullname}}
									</div>
								</td>
							</tr>
						</table>					
					</div>			
				</div>

				<div class="row" style="margin-top:15px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="infos-famille" style="text-decoration: underline; cursor: pointer" ng-show="oneNeedsMet(contactHopital)" ng-click="sendMail(contactHopital)" title="Cliquez pour envoyer un message aux personnes dont la case est cochée">
							envoyer un message aux personnes cochées
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>
		<div class="end-border"></div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="show">
		<div class="button-right" ng-click="rights()" title="Cliquez ici pour gérer les droits du carnet de suivi">
			<div class="toolbar-suivi toolbar-suivi-carnet toolbar-suivi-right"></div>
		</div>
		<div class="div-right" ng-click="rights()" title="Cliquez ici pour gérer les droits du carnet de suivi">
			<span>Gérer les droits</span>			
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="button-right" ng-click="pdf()" title="Cliquez ici pour télécharger en PDF les onglets choisis du carnet de suivi">
			<div class="toolbar-suivi toolbar-suivi-carnet toolbar-suivi-download"></div>
		</div>
		<div class="div-right" ng-click="open()" title="Cliquez ici pour télécharger en PDF les onglets choisis du carnet de suivi">
			<span>Télécharger le suivi en pdf</span>			
		</div>
	</div>

	<div class="exit-carnet">
		<div class="exit-carnet-button" ng-click="return()" title="Cliquez ici pour revenir à la liste de mes carnets">
			<span>quitter le carnet de suivi</span>
		</div>
	</div>

	<script type="text/ng-template" id="myModalPdfContent.html">
		<div class="modal-header">
	            <h3 class="modal-title">Génération du pdf du suivi</h3>
	        </div>
	        <div class="modal-body">
	        	<h4> Choisissez les onglets que vous souhaitez générer </h4>
	            <div class="exit-carnet">
	            	<button type="button" class="exit-carnet-button-pdf" ng-class="{active: allChecked()}" ng-click="checkAllOrNot()" btn-checkbox title="Cliquez ici pour sélectionner ou désélectionner tous les onglets du carnet de suivi">
				        tout sélectionner/désélectionner
				    </button>
	            	<button type="button" ng-repeat="tab in tabs" class="exit-carnet-button-pdf" ng-model="tab.check" btn-checkbox title="Cliquez ici pour ajouter l'onglet '{{tab.nom}}' dans la génération du PDF">
				        {{tab.nom}}
				    </button>
	            </div>
	        </div>
	        <div class="modal-footer">
		        <div>
					<div popover="Il faut au moins un onglet selectionné pour générer un pdf" popover-placement="bottom" popover-trigger="click" class="exit-carnet-button" ng-click="ok()" title="Cliquez ici pour générer le PDF avec les onglets sélectionnés">
						<span>Générer le pdf</span>
					</div>
					<div class="exit-carnet-button" ng-click="cancel()" title="Cliquez ici pour annuler la génération du PDF et revenir au carnet de suivi">
						<span>Annuler</span>
					</div>			
				</div>
	        </div>
	    </div>
	</script>

	<script type="text/ng-template" id="myModalMailContent.html">
		<div class="modal-header">
	            <h3 class="modal-title">Envoyer un email</h3>
	        </div>
	        <div class="modal-body row">
	        	<form name="myForm">
		        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		        		<label>Cet email sera envoyé sur l'adresse email "laclasse.com" de chaque destinataire</label>
		        		<input class="form-control" style="border:none" type="text" placeholder="{{mail.destinataires.concatener}}" readonly>
		        	</div>
		        	<div style="margin-top: 10px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">		     
		        		<input class="form-control" style="border:none" name="objet" type="text" placeholder="Objet" ng-model="mail.objet">
		        	</div>
		        	<div style="margin-top: 10px;" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			        		<span ng-click="openUpload()" class="glyphicon glyphicon-paperclip" style="cursor: pointer" title="Cliquez ici pour insérer un document à votre mail"></span>
			        		<span tooltip-placement='bottom' tooltip-popup-delay='700' tooltip="{{joindreFile.normal}}">{{joindreFile.court}}</span>
			        		<input type="file" id="inputFile" ng-file-select="onFileSelect($files)" ng-hide="true">	        		
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		        		<textarea class="form-control" name="message" style="border:none" placeholder="Rédigez votre message ici" ng-model="mail.message" rows="7"></textarea>
		        	</div>
		        </form>
	        </div>
	        <div class="modal-footer">
		        <div>
					<div popover="Les champs Objet et Message doivent être rensignés !" popover-placement="bottom" popover-trigger="click" class="exit-carnet-button" ng-click="ok()">
						<span title="Cliquez ici pour envoyer votre message">Envoyer</span>
					</div>
					<div class="exit-carnet-button" ng-click="cancel()">
						<span title="Cliquez ici pour annuler et revenir au carnet de suivi">Annuler</span>
					</div>			
				</div>
	        </div>
	    </div>
	</script>
</div>