growl-notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: white;
    padding: 15px 30px;
    max-width: 500px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #eeeeee;
    border-left-width: 5px;
    border-radius: 3px; 
}