
<!-- <pre ng-class="{disabled : !admin}" class="toolbar" ng-controller="ListCarnetsEVignalCtrl">
    <div class="add-button">
    </div>
</pre> -->
<div class="app" ng-controller="ListCarnetsEVignalCtrl" ng-init="">
    <div class="search">
    <br>
        <div class="text-expl">
                <p class="explication">Qu'est ce que le suivi ?</p>
                <p class="explication">Petit texte explicatif et avertissement contenant le contenu des publications sur les données personnelles.
                <br>Qui peut créer un suivi</p>
        </div>
        <div class="rch-elv">
            <p class="rch-elv">Rechercher un élève:</p>
            <input id="tlp" type="text" placeholder="entrer un nom" class="rch-elv .input-group" ng-model="search" popover="I appeared on mouse enter!" popover-trigger="mouseenter">
            <div class="button-search">
                <div class="toolbar-suivi toolbar-suivi-search"></div>
                <div class="toolbar-suivi toolbar-suivi-del" ng-click="delSearch()"></div>                
            </div>
        </div>
    </div>
    <div class="carnets" >  
        <div class="carnet" style="background-color: {{carnet.color}};" ng-repeat="carnet in carnets" ng-class="{'carnet-vide': carnet.nom==' '}" >
            <div class="carnet-eleve " >
                <!-- <iframe id="carnet{{$index}}" src="/img/avatar_feminin.svg" frameborder="0" scrolling="no"class="carnet-eleve" seamless></iframe> -->
                <svg version="1.1" id="Calque_1" class="carnet-eleve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="127.561px" height="127.561px" viewBox="0 0 127.561 127.561" enable-background="new 0 0 127.561 127.561"
                     xml:space="preserve">
                    <g>
                        <path fill="{{carnet.avatar}}" d='{{carnet.sexe}}'/>
                    </g>
                </svg>
                <span class="carnet-eleve-prenom">{{carnet.prenom.toUpperCase()}}</span>
                <span class="carnet-eleve-nom">{{carnet.nom.toUpperCase()}}</span>
            </div>
        </div>
    </div>    
</div>

