@font-face { 	
	font-family: "Futura Bold"; 	
	src: url('/app/styles/font/Futura TTF/FUTUB___.TTF'); 
}

@font-face { 	
	font-family: "Futura Light"; 	
	src: url('/app/styles/font/Futura TTF/FUTUL___.TTF'); 
}

@font-face { 	
	font-family: "Futura Medium"; 	
	src: url('/app/styles/font/Futura TTF/FUTUH___.TTF'); 
}

@font-face { 	
	font-family: "Futura book"; 	
	src: url('/app/styles/font/Futura TTF/FUTURA__.TTF'); 
}
html { 
    height:100%;
}
body {
	height: 100%;
    min-height:100%;
    overflow: hidden;
}

.carnet-eleve-contener{
	height:100%;
	background-color: rgba(178,178,178,0.3);
	margin-right: -30px;
	margin-left: -30px;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.avatar-carnet{
	text-align: center;
	padding-right: 20px;
	padding-left: 0px;
}

.avatar-carnet img{
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

.avatar-carnet, .eleve-info{
	display: table-cell;
	float: none;
}

.eleve-info{
	font-family: "Futura Light";
	text-align: left;
	font-weight: bold;
	color: #1AA1CC;
	font-size: 15px;
	vertical-align: bottom;

}

.eleve-info-firstname, .eleve-info-lastname{
	font-family: "Futura Bold";
	font-size: 20px;
	width: 100%;
}

.eleve-info-lastname{
	text-transform: uppercase;
}

.infos-detaillees {
	margin-top: 40px;
}

.infos-detaillees .panel-title{
	font-family: "Futura Light";
	font-size: 13px;
	font-weight: bold;
}

.infos-detaillees .panel{
	background-color: inherit;
	border: none;
	box-shadow: none;
}

.infos-detaillees .panel-default>.panel-heading{
	background-color: inherit;
	border: none;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 0;
}

.infos-detaillees .panel-group .panel{
	background-color: inherit;
	border-radius: 0;
	border-top: 1px solid #B2B2B2;
}

.infos-detaillees .panel-heading{
	border: none;
}

.infos-detaillees .panel-group .panel-heading+.panel-collapse .panel-body{
	border: none;
}

.infos-detaillees .panel-title>a{
	vertical-align: middle;	
}

.infos-detaillees .panel-title>a:hover{
	text-decoration: none;
	cursor: pointer;
}

.infos-detaillees .panel-body{
	padding-left: 15px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 15px;
}


.end-border{
	margin-top: 5px;
	border-top: 1px solid #B2B2B2;
}

.toolbar-suivi-carnet{
	display:block;
	float: left;
	margin-top: 0;
}

.toolbar-suivi-arrow-right{
	background-position: 0 -144px;
}
.toolbar-suivi-arrow-down{
	background-position: 0 -160px;
}

.toolbar-suivi-right{
	background-position: 0 -128px;
}

.carnet-checkbox input[type=checkbox] {
	visibility: hidden;
}

.carnet-checkbox{
	float: left;
	width: 15px;
	position: relative;
	display: inline-block;
}

.carnet-checkbox label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
  	left: 0;
	background: #fff;
	border:1px solid #8E8E8E;
}

.carnet-checkbox label:after{
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 2px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.carnet-checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}


.prefix-infos, .infos-famille{
	font-family: "Futura Light";
	font-size: 12px;
	display: inline-block;
	font-weight: bold;
	float: left;
	margin-left:5px;
}

.prefix-infos{
	color: #8E8E8E;
}

.infos-famille{
	color: #505050;
}

.button-right, .div-right{
	margin-top: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.button-right{
	display: inline-block;
	padding: 3px;
	border:1px solid #B2B2B2;
}

.div-right{
	display: inline-block;
	font-family: "Futura Light";
	font-size: 13px;
	font-weight: bold;
}

.div-right span{
	float: left;
}

.exit-carnet{
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.exit-carnet-button{
	display: inline-block;
	padding: 3px 10px;
	text-align: center;
	border: 1.5px solid #505050;
	font-family: "Futura book";
	font-size: 14px;
	color: #323232;
	cursor: pointer;
}