<div class="row">
	<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 damier {{classe.couleur}}" ng-repeat="classe in classes" ng-class="{'hide-damier': classe.name == ''}">
		<span class="classe-name">{{classe.name}}</span>
		<span class="college-name">{{classe.college}}</span>
		<div class="avatar" ng-show="classe.name!=''" ng-click="open({{classe}})"></div>
	</div>
	<!-- <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 rouge damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 bleu damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 violet damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 bleu damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 violet damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 vert damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 jaune damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 vert damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 jaune damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 rouge damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 bleu damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 rouge damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 bleu damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 violet damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div>
	<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 vert damier">
		<span class="classe-name">5°3</span>
		<span class="college-name">collège Charpak</span>
	</div> -->
</div>